# Arquivo de variáveis de ambiente
.env

# Arquivos e pastas de notebooks temporários
*.ipynb
.ipynb_checkpoints/

# Ambiente virtual
venv/
.env/

# Scripts BAT (Windows)
*.bat

# Ignorar logs do Airflow
project_evolution_part2/logs/

# Ignorar __pycache__ em qualquer lugar
**/__pycache__/

# Ignorar arquivo de teste
project_evolution_part2/dags/testando_ambiente.py